

<h1>CONTACT</h1>
<hr />
<h3>INFORMATII COMPANIE</h3>
<div>
    <p>Exemplu SRL</p>
    <p>CUI: RO 111111111</p>
    <p>Reg.com.: J22/100/2000</p>
    <p>
        "Tel:"&nbsp;
        <span>0744000000</span>
    </p>
    <address>Str.Poiana Soarelui, Nr.10, Iasi, 700345</address>
    <address>
        <strong>Support:</strong><email name="dsarghe@gmail.com">dsarghe@gmail.com</email>
    </address>
</div>

